*{padding:0px;margin:0px}
body,html,input{font:12px,Verdana,Arial,Tahoma;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
em{font-style:normal;}
body{background:#000 url('http://f10.topitme.com/o/201012/01/12911489122292.jpg');}
.clear{clear:both;font-size:0;}
.warp{width:1024px;height:768px;margin:50px auto;border:5px solid #023849;-webkit-border-radius: 15px;}
.welcome{display:none;width:1024px;height:768px;background:url('../images/welcome_bg_ipad.png') left top no-repeat;}
.game{display:none;position:relative;padding-top:50px;width:1024px;height:768px;background:url('../images/welcome_bg_3_ipad.png') left top no-repeat;}
.table{width:1024px;height:768px;background:url('../images/vip_desk_ipad.png');
	position:relative;}
.bg{display:none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 99998;
	background-color: #000;opacity: 0.75;filter: alpha(opacity=75);}

/**/
.cards{position:absolute;width:1024px;height:200px;bottom:300px;left:0;}
.card{width:150px;height:90px;float:left;margin-left:50px;}
.card .first{margin-left:10px}
.poker{width:70px;height:92px;margin-left:-40px;float:left}
.c1{-webkit-transform:rotate(20deg);margin-left:70px;margin-top:20px}
.c2{-webkit-transform:rotate(10deg);margin-left:30px;margin-top:70px;}
.c3{margin-left:35px;margin-top:85px;}
.c4{-webkit-transform:rotate(-10deg);margin-left:40px;margin-top:70px;}
.c5{-webkit-transform:rotate(-20deg);margin-left:30px;margin-top:20px;}

/**/
.users{position:absolute;width:1024px;height:170px;bottom:128px;left:0;margin-left:-20px}
.user{width:140px;height:140px;margin-left:60px;background:#F5F5F5;float:left;border-radius:8px}
.mine{width:140px;height:110px;background:#F5F5F5;margin-left:60px;float:left;border-radius:8px}
.u1{margin-top:0px;}
.u2{margin-top:40px}
.u3{margin-top:45px}
.user .name{height:25px;line-height:25px;}
.user .avatar{height:100px;background:url('../images/avatar.png') center center no-repeat}
.u3 .avatar{height:80px;background:url('../images/avatar.png') center center no-repeat}

.start{position:absolute;width:1024px;height:100px;top:150px;text-align:center}
.start input{width:166px;height:56px;background:url('../images/manager_get.png');
	bordeR:0;outline:none;text-align:center;font-size:30px;color:#FFF;
	text-shadow: #000 2px 2px 2px;font-weight:bold;}

/**/
.bar{position:absolute;width:960px;height:128px;background:url('../images/toolbar_bg.png');
	left:32px;bottom:0px}
.btn{float:left;margin-left:52px;margin-top:45px;bottom:20px;left:0;width:120px;height:70px;}
.giveup{background:url('../images/giveup_disable.png');}
.pk{background:url('../images/pk_disable.png');}
.look{background:url('../images/view_card_disable.png');}
.raise{background:url('../images/raise_disable.png');}
.follow{background:url('../images/follow_disable.png');}
.giveup_on{background:url('../images/giveup.png');}
.pk_on{background:url('../images/pk.png');}
.look_on{background:url('../images/view_card.png');}
.raise_on{background:url('../images/raise.png');}
.follow_on{background:url('../images/follow.png');}


/**/
.login{text-align:center;padding-top:555px;}
.login .name{border:1px solid #BFD4CB;width:350px;height:30px;outline:none;padding:5px;font-size:16px}
.login .enter{width:268px;height:58px;background:url('../images/enter_game.png');outline:none;border:0}
.login p{padding:5px}

/**/
.list{margin-left:95px;width:830px;border:3px solid #E5BB59}
.list .top{height:70px;background:url('../images/dialog_tital.png');}
.list .top .name{margin:12px 0 0 12px;width:150px;height:50px;background:url('../images/dialog_name.png'); line-height:50px;
	text-align:center;color:#8A501C;border:0px;font-size:24px;float:left}
.list .head{height:62px;background:url('../images/dialog_head_bg.png');color:#F2F2F2;font-size:18px;}
.list .head .row{line-height:62px;}
.list .box{height:350px;overflow:auto;background:#242426;opacity: 0.9;color:#FFCC4F;font-size:18px}
.list .row{height:50px;background:#242426;border-bottom:1px solid #000;line-height:50px;}
.list .col{padding-left:10px;width:150px;float:left;height:50px;}
.list .join{width:100px;height:35px;border:0;outline:0;margin-top:6px;background:#EDAD14;color:#FFF;
	border-radius:8px; -webkit-box-shadow: 3px 3px 3px #000;}
.oper{text-align:center;padding-top:70px;}
.oper input{border:0;outline:none}
.oper .quick{width:436px;height:190px;background:url('../images/quick_start_btn.png');}
.oper .create{width:436px;height:190px;background:url('../images/funroom_start_btn.png');}
.createdlg{width:300px;height:120px;position:absolute;border: 2px solid #CCC;left:362px;top:284px;
	z-index:99999;border-radius: 5px;background:#FFF;display:none;}
.createdlg p{line-height:40px}
.createdlg p span{padding:8px}
.createdlg .submit{line-height:30px;text-align:center}
.createdlg .submit input{width:55px;height:24px;}